body{ margin:0 auto; }
input {
    width: 50%;
    border: none;
    border-bottom: 2px solid red;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
.button {
  text-align: center;
  background-color: white;
  color: black;
  border: 2px solid rgb(2, 206, 237);
  width: 50%;
  display: block;
  border-radius: 4px;
  padding: 12px 20px;
}
.button:hover {
  background-color: rgb(2, 206, 237);
  color: white;
}

