*, *::before, *::after {
  box-sizing: border-box;
}

html{
  height: 100%;
}

* {
  margin: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}



nav {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: center;
  color: #000000;
  font-size:2rem;
  font-family: Bahnschrift;
}

.header-image {
  background-image: url(webtrade-logo.png);
  width: 250px;
  height: 250px;
}
  
ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
  
li {
  margin: 0 10px;
}
  
button {
  display: table-cell;
  border-color: transparent;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 295px;
  height: 50px;
  text-align: center;
  font-family: Bahnschrift;
}

.nav button{
  margin: 0px;
}

.nav:hover{
  background-color: #42dcf4;
  color:white;
  transform: translate(-5px,-5px);
  box-shadow: 10px 10px #0462785a;
}
  
button:hover {
  background-color: #02cfed;
  color: #000000;
}

.colorBand{
  background-color: #02cfed;
  padding: 10px ;
  border: 1px solid #02cfed;
  color: white;
  text-align: center;
}

.colorBand .nav{
  cursor: pointer;
}

.multi-text{
  overflow: hidden;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0),#02ceed00,#02ceed00,#02cfed); */
}

#aboutbtns{
  margin-top: 20px;
  margin-bottom: 20px; 
  display: flex; 
  justify-content: space-around;
  box-shadow: 10px 10px #0462785a;
  overflow: hidden;
}

#aboutbtns button{
  width: 100%;
}

#textbox{
  position: relative;
  transition: all 250ms;
  z-index: 0;
}

#textbox h4{
  box-sizing: border-box;
  padding: 90px;
  font-size: 18px;
}

#textbox .hero-banner{
  margin-top: 0px;
  margin-bottom: 25px;
  border-bottom: 25px solid rgb(2, 207, 237);
  box-shadow: 10px 10px #0462785a;
}



.multi-text .colorBand{
  position: relative;
  z-index: 1;
}


.multi-text #textbox{
  z-index: 0;
}

.center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.container {
  display: flex;
  align-items: center; 
  justify-content: center;
}
  
.flex-container{
  display: flex;
  flex-direction: row;
  gap: 75px;
  flex-basis: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

.flex-containerProd{
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  gap: 400px;
}

.flex-containerProd button{
  background-color: #02cfed;
  
  width:100%;
}

.flex-containerProd h4{
  font-weight: lighter;
}

.productBlock{
  border-color: #0462785a;
  border-style:outset;
  text-align: left;
  box-shadow: 10px 10px #0462785a;
  padding: 10px;
  cursor:pointer;
  transition: all 250ms;
}

.productBlock:hover{
  transform: scale(1.1);
  box-shadow: 22px 22px #0462785a;
}

.productBlock img{
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.productImage{
  border-style: solid;
  border-color: #0462785a;
  box-shadow: 10px 10px #0462785a;
  color: #ffffff;
}

.productImage img{
  width: 750px;
  height: auto;
}

.productDescription{
  border-style:solid;
  border-color: #0462785a;
  padding: 50px;
  padding-top: 0px;
  box-shadow: 10px 10px #0462785a;
  text-align: left;
  flex-basis: 500px;
}

.productDescription button{
  cursor: pointer;
}

.hero-banner{
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
}

.hero-banner:hover .bgblur{
  filter: blur(8px);
  transform: scale(1.1);
}

.hero-banner button{
  cursor: pointer;
}


.hero-text {
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-button{
  border-style: solid;
  border-color: #02cfed;
  border-width: 3px;
}

.bgblur{
  transition: all 200ms ease-out;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("featured.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  z-index: -1;
}


.reviews{
  padding-left: 20px;
  text-align: left;
  border: transparent;
  border-left: #02cfed;
  border-style: outset;
}

.reviews h4,h5{
  font-weight: normal;
  size-adjust: 70%;
}

.page-description{
  margin-bottom: 50px; 
  background-color: rgb(2, 206, 237);
  background-size: cover; 
  color: white; 
  padding-top: 25px; 
  text-align: center; 
  padding-bottom: 25px;
}
   
.text {
  font-size: 20px;
  padding-left: 20px;
}

.header {
  text-align: left;
  font-family: Bahnschrift;
  color: #02cfed;
  font-size: 32px;
  text-shadow: 5px 5px #0462785a;;
}

.header img{
  width: 100px;height:100px;transform: translateY(25px);
}


.article {
  text-align: center;
  font-family: Bahnschrift;
  color: #000000;
  margin-left: 20px;
  margin-right: 20px;
}

.body {
  font-family: Bahnschrift;
  background-color: #ffffff;
  padding:0;
  height:100%;
}

.links {
  text-align: left;
  font-family: Bahnschrift;
}

.related {
  text-align: center;
  font-family: Bahnschrift;
  color: #000000;
}

.footer {
  bottom:0;
  width: 100%;
  text-align: center;
  font-family: Bahnschrift;
  color: #ffffff;
  background-color: #02cfed;
}

.container {
  font-family: Bahnschrift;
  color: #000000;
}

.facebook {
  width: 10px;
  height: 10px;
}

::marker {
  color: #ffffff;
  background-color: #ffffff;
}