nav {
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    color: #000000;
    font-size:2rem;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  button {
    display: block;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
    width: 295px;
    height: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  button:hover {
    background-color: #c4c4c4;
    color: #000000;
  }
  
.pressed{
    width: 200px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    color: #000000;
    font-size:2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }

.pressed:hover {
    background-color: #ffffff
}

.pressed:active {
    background-color: #c4c4c4;
}

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #ffffff;
}

.article {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.body {
    background-color: #ffffff;
}

.links {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.related {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #c4c4c4;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

.facebook {
    width: 10px;
    height: 10px;
}