nav {
    background-color: #0000F0;
    display: flex;
    justify-content: center;
    color: white;
    font-size:2rem;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 10px;
  }
  
  button {
    display: block;
    background-color: #0000F0;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
    width: 295px;
    height: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  button:hover {
    background-color: #0288D1;
    color: white;
  }
  
.pressed{
    width: 200px;
    height: 100px;
    background-color: #0000F0;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size:2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }

.pressed:hover {
    background-color: #0000FF
}

.pressed:active {
    background-color: #0288D1;
}

.header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0000F0;
}

.article {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.body {
    background-color: #0288D1;
}

.links {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.related {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #0000F0;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.facebook {
    width: 10px;
    height: 10px;
}